<% provide:title, t(".title") %>
<h1><%= t("static_pages.help.title") %></h1>
<p>
  <%= t(".text1") %>
  <%= link_to t(".link_name"), t(".link") %>
   <%= t(".text2") %>
   <%= link_to t("static_pages.about.link1") do %>
      <em>
        <%= t("static_pages.home.link_name") %>
      </em>
    <% end %>
   <%= t(".text3") %>
</p>
